.payment {
    border: 1px solid white;
    width: 50px;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    background-image: url('/check.svg');
    background-size: 16px;
    background-repeat: no-repeat;
}