.payment {
    border: 1px solid black;
    width: 60px;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    background-image: url('/check.svg');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 4px 6px;
}